@{
    Layout = "Shared/_Layout.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<HackManchester2014.Nomination.Models.NominationViewModel>

<article class="register main-content">
    <section class="layout-constrained layout-constrained--narrow">
        <div class="layout-constrained layout-constrained--narrow">

            <div class="page-intro">
                <h1>@Model.NominatedByName nominated you for the @Model.ChallengeTitle challenge!</h1>
                <p>
                    @Model.NominatedByName has completed this challenge alongside @Model.TotalEntryCount others, now it's your turn.
                </p>
            </div>

            <div class="form-panel">
                <h2 class="progress-step"><span class="progress-step__indicator">1</span>Keep the chain going</h2>

                <fieldset>
                    <legend class="form-step__intro">Click accept below to nominate your friends and support @Model.CharityName.</legend>

                    <div class="form-group">

                        <form action="/@Model.Id/accept" method="get">
                            @if (Html.CurrentUser == null)
                            {
                                <a href="/authentication/redirect/twitter" class="btn btn--twitter">Sign in with Twitter &amp; Accept</a>
                                @*<button class="btn btn--primary">Sign in with Twitter &amp; Accept</button>*@
                            }
                            else
                            {
                                <button class="btn btn--primary">Accept</button>
                            }
                        </form>

                    </div>
                </fieldset>
            </div>

        </div>
    </section>
</article>