@{
    Layout = "Shared/_Layout.cshtml";
}
@using System.Linq
@using HackManchester2014
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<HackManchester2014.Home.Models.HomeIndexModel>

@if (Model.NewAchievements.Any())
{
    foreach (var achievement in Model.NewAchievements)
    {
        <div class="notification notification--positive js-notification">
            <button class="notification__action js-notification-dismiss">Dismiss</button>
            <span class="notification__indicator">
                <i class="fa @achievement.Icon"></i>
            </span>
            <span class="notification__content">
                <h2>@achievement.Name</h2>
                @achievement.Description
            </span>
        </div>
    }
}              

<div class="hero-banner group">
    @Html.Partial("Shared/_Map", Model.MapModel)

    <div class="hero-banner__meta">
        <div class="layout-constrained">
            <div class="hero-banner__intro">
                @if (Html.GetUser() == null)
                {
                    <h1 class="kilo">Use your social network to build up a donation chain with endless potential.</h1>
                    <a href="/register" class="btn btn--secondary btn--xl">Get Involved</a>
                }
                else
                {   
                    <h1 class="kilo">Hey @Html.GetUser().UserInfo.Name</h1>
                    <p class="">
                        Your network has generated £999 since we last saw you. Check out your account for more stats.
                    </p>
                    <a href="/my-account" class="btn btn--secondary btn--xl">My Account</a>
                    <a href="/register/2" class="btn btn--primary btn--xl">Another Challenge?</a>
                }
            </div>

            <div class="stat-group stat-group--hero">
            <dl class="stat">
                <dd class="stat__value">@Model.TotalChallenges</dd>
                <dt class="stat__title">Challenges</dt>
            </dl>

            <dl class="stat">
                <dd class="stat__value">£@Model.TotalDonations.ToString("F2")</dd>
                <dt class="stat__title">Raised so far</dt>
            </dl>
            </div>
        </div>
    </div>



</div>

<section class="container-block">
    <div class="layout-constrained">
        <div class="section-overview">
            <h2 class="">Recent Completed Challenges</h2>
            <p>You can become a #projectxer</p>
        </div>

        <div class="gallery">
            @foreach (var entry in Model.Entries)
            {
                <div class="gallery-item gallery-item--overlay">
                    <img class="gallery__item" src="/image/@entry.ProofImage" />
                    <div class="gallery-item__meta">
                        <h4 class="gallery-item__name">@entry.UserName</h4>
                        <span class="tile__location">Leeds, UK</span>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="container-block">
    <div class="layout-constrained">
        <div class="section-overview">
            <h2 class="header-divide"><span class="header-divide__content">Looks Great, what do I have to do?</span></h2>
            <p>Its really simple, challenge your mates in 3 steps</p>
        </div>

        <div class="intro-steps">
            <div class="step-item step-item--trio">
                <i class="fa fa-twitter fa-5x"></i>
                <h3 class="step-item__title">Step 1</h3>
                <p class="step-item__detail">
                    Sign in with your social media account.
                </p>
            </div>

            <div class="step-item step-item--trio">
                <i class="fa fa-check-circle-o fa-5x"></i>
                <h3 class="step-item__title">Step 2</h3>
                <p class="step-item__detail">
                    Accept a challenge and make a donation.
                </p>
            </div>

            <div class="step-item step-item--trio">
                <i class="fa fa-cloud-upload fa-5x"></i>
                <h3 class="step-item__title">Step 3</h3>
                <p class="step-item__detail">
                    Upload proof of your challenge and nominate your mates.
                </p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    //$(document).ready(function () {
    //    $(document).on('.js-notification-dismiss', 'click', function () {
    //        $(this).parent().hide();
    //    });
    //});
    $(function () {
        $('.js-notification-dismiss').click(function () {
            $(this).parent().hide();
        });
    });
</script>
